<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <div class="topic-index-single">
                <h2 class="topic-author">
                  <%= @user.name %>
                </h2>
                <div class="profile-image">
                 <%= image_tag @profile.profile_image.url %> 
                </div>
                <p class="show_number">フォロー数: <%=link_to @user.followings.size, followings_user_path(@user) %> / フォロワー数: <%=link_to @user.followers.size, followers_user_path(@user) %> </p>
                <h4 class="topic-text">居住地</h4>
                <p class="topic-text">
                  <%= @profile.place %>
                </p>
                <h4 class="topic-text">一言</h4>
                <p class="topic-text">
                  <%= @profile.introduce %>
                </p>
                <% if current_user.id != @user.id %>
                  <% if @follow_flag == false %>
                    <%= link_to 'フォロー', follows_path(@user), method: :post, class: "btn btn-primary follow_button" %>
                  <% else %>
                    <%= link_to 'フォロー中', follow_path(@follow), method: :delete, class: "btn btn-danger follow_button" %>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>    
</div>

<%= render 'layouts/list', topics: @topics, flag: @flag %>